.header {
    padding-block: 20px;
    background: $bg-secondary;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__menu {
        padding: 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        transition: $duration;

        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }

    &__logo {
        filter: drop-shadow(0px 0px 10px rgba($accent, 0%));
        transition: $duration;

        &:hover {
            filter: drop-shadow(0px 0px 10px rgba($accent, 30%));
        }
    }

    &__search {
        display: flex;
        align-items: center;
        background: $border;
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: $duration;
        width: 30%;

        &:hover {
            background: $bg-secondary;
            border: 2px solid $border;
        }

        & label {
            display: flex;
            align-items: center;
            padding-block: 10px;
            padding-inline: 10px;

            & svg {
                color: $text-secondary;
            }
        }

        & input::placeholder {
            color: $text-secondary;
        }

        & input {
            color: $text;
            padding-block: 10px;
            padding-right: 10px;
        }
    }

    &__create {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 38px;
        height: 38px;
        background: $accent;
        border-radius: 100%;
        transition: $duration;

        &:hover {
            opacity: 85%;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__account {
        transition: $duration;

        &:hover {
            filter: brightness(90%);
        }

        & img {
            border-radius: 100%;
        }
    }
}